In [1]:
import pandas as pd
data_dict = {
    "students":["Amy", "James", "Angela"],
    "scores":[76, 56, 65]
    }

In [2]:
pd.DataFrame(data_dict)

  students  scores
0      Amy      76
1    James      56
2   Angela      65