In [1]:
# Importando dados e o pandas
import pandas as pd
df = pd.read_csv("bank.csv", encoding="UTF-8", sep=";")

In [3]:
# Usando notação de ponto e uma igualdade
df[df.marital == "single"].head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
13,20,student,single,secondary,no,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no

In [ ]:
# Operador lógico "E"
df[(df.marital == "single") & (df.education == "primary")].head()

In [ ]:
# OU
# Pessoa casada e tenha educação primária ou secundária
# casada e (primário ou secundário)
df[(df.marital == "married") & ((df.education == "primary") | (df.education == "secondary"))].head()

In [ ]:
df.head()